
 /*  Swiper Style  */
 /* ................................................ swiper gallery .......................................................... */
       
 .container1Info1 {
  overflow: hidden;
  height: auto;
 /* background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  /* background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%); aloshe*/
}

.container1Info2 {
  height: 570px;
  background-image: var(--color2);
  /* background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%); */
}

.container1Info3 {
  height: 570px;
  background-image: var(--color3);
  /* background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%); */
}

.container1Info4 {
  height: 570px;
  background-image: var(--color4);
  /* background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%); */
}

.container2Info {
  margin-top: 14px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
   height:620px;
  width: 1820px;
  background-color: rgb(255, 255, 255);
  /* background-color: #e23c09; */
  border-radius: 10px;
}
.moreUserInstance{
  width: 74%;
  overflow: overlay;
  background-color: #f7f7f7;
  max-height: 173px;
  height: auto; /*for no shoing background in case null*/
  border-radius: 10px;
  margin:0 auto 5px auto;
}

.textBehindEachPhoto {
  float: left;
  width: 35%;
  height:620px;
 position: relative;/*edit*/
}
.sf-Share-O5q7O {
  position: absolute;/*edit*/
  top: 25px;
  right: 25px;
}
.sf-Share-O5q7O .sf-Share-2z71D {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='24' fill='none'%3E%3Cpath d='M14.25 8.25h1.5a1.5 1.5 0 011.5 1.5v12a1.5 1.5 0 01-1.5 1.5H2.25a1.5 1.5 0 01-1.5-1.5v-12a1.5 1.5 0 011.5-1.5h1.5M9 .75v10.5M5.25 4.5L9 .75l3.75 3.75' fill-rule='evenodd' stroke='%23484848' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/svg%3E");
  width: 35px;
  height: 35px;
}
.swiper-slide>img {
  width: 65%;
  height:612px;
  border-radius: 10px;
  /* border: 1px solid #fff; */
}
/*for  scroll overlay --bs-gutter-x,--bs-gutter-x*/
.moreUserInstance hr:last-child{display:none}
.swiper-container-3d {
  perspective: 9990px;
}

.swiper-container {
  margin-bottom: -5px;
}

.swiper-wrapper {
  float: right;
  width: 100%;
  min-width: auto;
  height: auto;
  /* margin: auto; */
  padding-top: 0px;
}

.swiper-slide-img {
  /* for big photo */
  height: auto;
  width: 100%;
  /* border: 1px solid black; */
  /* move next and prev buttons off img */
}

.swiper-slide {
  padding: 4px;
  width: 86.9524px;
  /* for solve hide photos */
}



.swiper-slide-img:hover {
  cursor: pointer;
}

.swiper-pagination {
  background-color: #d8d8d8;
  padding: 5px;
}

.swiper-button-next:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.swiper-pagination1,
.swiper-pagination2,
.swiper-pagination3,
.swiper-pagination4 {
  background: linear-gradient(to bottom right, white, #aaa);
  border-radius: 0px;
  margin-bottom: -8px;
}
/*active pagination*/

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: blue;
}
/*other pagination*/

.swiper-pagination .swiper-pagination-bullet {
  height: 10px;
  width: 10px;
}

.swiper-pagination .swiper-pagination-bullet:hover {
  transform: scale(1.5);
  transition: all 0.5s;
}

.swiper-pagination .swiper-pagination-bullet:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Span */

.jumbotron {
  padding-right: 4px;
  padding-left: 0;
  height: -webkit-fill-available;
  margin-top: 50px;
}

/*Button_______________________________________________________________________________________*/

.btn-new {
  transition: 2s;
  /* added Above */
  background-color: rgb(253, 98, 81);
  display: inline-block;
  margin-bottom: 0;
  /* font-weight: bold; */
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 3px 9px;
  font-size: 20px;
  line-height: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 33px;
  padding-left: 35px;
  padding-right: 35px;
  color: white;
  width: auto;
}

.btn-new:hover {
  background-color: rgb(255, 65, 44);
}

.btn-new2 {
  background-color: rgba(34, 31, 30, 0%);
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 3px 9px;
  font-size: 20px;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 33px;
  padding-left: 35px;
  padding-right: 35px;
  color: white;
  height: 43px;
  width: auto;
  margin-bottom: -2px;
  margin-right: 5px;
}
/* .btn-new2:hover {
  background-color: #3232;
} */

.btn-new2:focus {
  background-color: white;
  color: black;
}

li.active .btn-new2 {
  background-color: white;
  color: black;
}

.textBehindEachPhoto h2 {
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 20px
}
/* Icon */

.svg-inline--fa.fa-w-10 {
  display: none;
  width: .625em;
  bottom: -14px;
  left: 61px;
  position: absolute;
}
/*Pills_______________________________________________________________________________________________________________*/

.nav-pills {
  margin-top: 10px;
  margin-left: 276px;
  margin-bottom: -4px;
}

.tab-content>.tab-pane {
  width: 1200px;
}

.nav-pills>li {
  width: 150px;
}

/*  .gallery-thumbs1,
.gallery-thumbs2,
.gallery-thumbs3,
.gallery-thumbs4 {
  position: relative;
  bottom: -16px;
  width: auto;
  overflow: visible;
  height: 49px;
}  */

.swiper-button-prev {
  position: absolute;
  transform: translateX(-40%);
}

.swiper-button-next {
  position: absolute;
  transform: translateX(40%);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
/* New Added */

.button-next {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  width: 110px;
  overflow: hidden;
  display: flex;
  margin-left: -85px;
  /* width: auto; */
  background-color: rgba(153, 153, 153, 0.048);
  border: 3px solid white;
  height: 51px;
  margin-top: -24px;
  color: white;
}

.swiper-button-next {
  margin-right: 2px
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #3232;
}

.gallery-thumbs1 .swiper-slide,
.gallery-thumbs2 .swiper-slide,
.gallery-thumbs3 .swiper-slide,
.gallery-thumbs4 .swiper-slide {
  /* opacity: 0.2; */
  opacity: 1;
  /* width: 86.9524px; */
}

.gallery-thumbs1 .swiper-slide-thumb-active img,
.gallery-thumbs2 .swiper-slide-thumb-active img,
.gallery-thumbs3 .swiper-slide-thumb-active img,
.gallery-thumbs4 .swiper-slide-thumb-active img {
  /* opacity: 1; */
  border: 3px solid white;
  border-radius: 10px;
  /* border: 3px solid darkblue; */
}

.gallery-thumbs1 .swiper-slide img,
.gallery-thumbs2 .swiper-slide img,
.gallery-thumbs3 .swiper-slide img,
.gallery-thumbs4 .swiper-slide img {
  width: 100px;
  display: inline-block;
  height: 50px;
  min-height: 40px;
  object-fit: cover;
}
/* ............................................. responsiveness ....................................................... */

@media all and (max-width: 520px) {
  .swiper-container {
      width: calc(100vw - 20px);
  }
  .swiper-button-next:after {
      font-size: 20px !important;
      transform: translateX(60%);
  }
  .swiper-button-prev:after {
      font-size: 20px !important;
      transform: translateX(-60%);
  }
  #swiper-button-next-modal {
      font-size: 20px !important;
      transform: translateX(20%);
  }
  #swiper-button-prev-modal {
      font-size: 20px !important;
      transform: translateX(-20%);
  }
  .swiper-pagination1,
  .swiper-pagination2,
  .swiper-pagination3,
  .swiper-pagination4 {
      padding: 4px;
  }
  .swiper-slide-img {
      width: calc(100vw-32px);
      height: auto;
      border: 16px solid #d8d8d8;
      /* move next and prev buttons off img */
      min-height: calc((0.5338 * 100vw) + 48.476px);
  }
  .swiper-pagination1 .swiper-pagination-bullet,
  .swiper-pagination2 .swiper-pagination-bullet,
  .swiper-pagination3 .swiper-pagination-bullet,
  .swiper-pagination4 .swiper-pagination-bullet {
      height: 12px;
      width: 12px;
  }
  .gallery-thumbs1 .swiper-slide img,
  .gallery-thumbs2 .swiper-slide img,
  .gallery-thumbs3 .swiper-slide img,
  .gallery-thumbs4 .swiper-slide img {
      height: 14vw;
  }
}
/*START for button inside class textBehindEachPhoto _______________________________________*/

.sf-hb-button-3mxAT {
  position: relative;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: opacity, background-color, color;
  -o-transition-property: opacity, background-color, color;
  transition-property: opacity, background-color, color;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out
}

.sf-hb-button-3mxAT .sf-hb-button-32HAC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.sf-hb-button-3mxAT .sf-hb-button-1bEW5 {
  position: relative;
  display: block
}

.sf-hb-button-3mxAT .sf-hb-button-1bEW5+.sf-hb-button-2Z2Fd {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.sf-hb-button-3mxAT .sf-hb-button-2Bs_u {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain
}

.sf-hb-button-3mxAT .sf-hb-button-1sDlT {
  top: 0;
  right: 0
}

.sf-hb-button-3mxAT .sf-hb-button-237FV {
  margin-left: auto;
  margin-right: auto
}

.sf-hb-button-3mxAT.sf-hb-button-z0zVf,
.sf-hb-button-3mxAT:disabled {
  cursor: not-allowed
}

.sf-hb-button-3mxAT:not(.sf-hb-button-1axFk).sf-hb-button-z0zVf,
.sf-hb-button-3mxAT:not(.sf-hb-button-1axFk):disabled {
  opacity: .3
}

.sf-hb-button-3mxAT.sf-hb-button-CbtX4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none
}



.sf-Share-O5q7O .sf-Share-2YBgl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #fff;
  height: 46px;
  width: 49px;
}  

.sf-Share-O5q7O .sf-Share-2YBgl:hover {
  border-radius: 20px;
  background-color: #eee;
}

.sf-Share-O5q7O .sf-Share-2z71D {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='24' fill='none'%3E%3Cpath d='M14.25 8.25h1.5a1.5 1.5 0 011.5 1.5v12a1.5 1.5 0 01-1.5 1.5H2.25a1.5 1.5 0 01-1.5-1.5v-12a1.5 1.5 0 011.5-1.5h1.5M9 .75v10.5M5.25 4.5L9 .75l3.75 3.75' fill-rule='evenodd' stroke='%23484848' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/svg%3E");
  width: 45px;
  height: 45px;
}